.btn-container{
    width: 100vw;
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
    .btn{
        width: 80%;
        height: 50px;
        border: 1px solid #8b632a;
        border-radius: 4px;
        background-color: #bd8436;
        .btn-title{
            font-size: 16px;
            color:  #503714;
        }
        .btn-text{
            font-size: 13px;
            color:   #503714;
        }
    }
}